body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
:root{
    --naranjaBayko: #cd6816;
    --blancoBayko: #EEEEEE;
    --negroBayko: #000000;
    --rojoBayko: #CF0A0A;
}

.elementos{
    display: flex;
    justify-content: space-evenly;
    background-color: #cd6816;
    color: var(--blancoBayko);
    font-size: 20px;
    font-weight: bolder;
}

.arriba{
    display: flex;
    justify-content: space-evenly;
}

.elementos:nth-child(1){
    margin-right: 50px;
}

.navarribadere{
    height: 44px;
    border: none;
    background-color: #F3F3F3;
    color: #989393;
}   